
:root {
	--cell-size: 64px;
	--invalid-opacity: 1;
}

.cell {
	width: var(--cell-size);
	height: var(--cell-size);
	line-height: var(--cell-size);
	height: var(--cell-size);
	text-align: center;
	outline: 1px solid rgba(0,0,0,.3);
	font-family: Arial, Helvetica, sans-serif;
	transition: opacity 1s;
	transition: visibility 1s;
}


.number.solution {
	color: blue;
}

.number.wrong {
	color: red;
	font-size: calc(var(--cell-size) / 2);
}

.number {
	font-size: calc(var(--cell-size) * .75);
}

.bigcell {
	outline: 2px solid black;
	width: calc(var(--cell-size) * 3);
	height: calc(var(--cell-size) * 3);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.board {
	width: calc(var(--cell-size) * 9);
}

.row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: calc(var(--cell-size) * 9);
}

.helperContainer {
	position: absolute;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	transition: opacity 1s;
}

.helper {
	font-size: calc(var(--cell-size) / 4);
	line-height: calc(var(--cell-size) / 3);
	width: calc(var(--cell-size) / 3);
	transition: opacity 1s;
	border-radius: 50%;
	color: rgba(0,0,0,.5);
	opacity: 1;
}

.helper.marked {
	background: rgba(0, 255, 0, .5);
	border-radius: 50%;
	color: black;
}

.helper.invalid {
	opacity: var(--invalid-opacity);
}

.helper: hover {
	background: rgba(0,0,255, .2);
}